page-profile {
  .btnPrev {
    width: 150px;
    margin: 15px 15px;
    border-radius: 5%;
  }
  .btnNext {
    width: 150px;
    margin: 15px 15px;
    border-radius: 5%;
  } 
  
  input {
    color: black;
  }

}
