.profile-item {
  text-align: center;
  background-color: #5860c0;
}

.profile-picture {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  overflow: hidden;
}

.profile-picture img {
  width: 128px;
  border-radius: 100%;
}

.profile-name {
  padding-top: 20px;
  font-size: x-large !important;
  font-weight: bold !important;
  text-transform: capitalize;
  color: color($colors, primary);
}

.profile-info {
  color: color($colors, primary);
}

ion-content {
  background: linear-gradient(330deg, color($colors, secondary) 80%, color($colors, tertiary) 80%);
}

h4, .button-inner, input {
  color: color($colors, primary);
}


